/* Footer Styles */
.ant-footer {
  background-color: #171715; /* Dark background */
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1200px; /* Max width for better alignment */
  margin: 0 auto; /* Center container */
  color: white;
  font-family: "Neue Plak", sans-serif;

}

ul {
  list-style-type: none; /* Remove default list style */
  padding: 0; /* Remove default padding */
}

h4, h5 {
  margin-bottom: 8px; /* Spacing for headers */
}

.ant-btn-primary {
  background-color: #D91E27; /* Primary button color */
  border-color: #D91E27; /* Button border color */
}

.ant-btn-primary:hover {
  background-color: #B81B20; /* Darker color on hover */
  border-color: #B81B20; /* Darker border color on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  .ant-footer {
    padding: 24px; /* Adjust padding for smaller screens */
  }

  .ant-col {
    margin-bottom: 16px; /* Add margin for spacing between columns */
  }
}
